/* body{
    height: 300vh;
    font-family: Helvetica,Arial,sans-serif;
}

.bg{
    margin-top: 100px;
    background-color: #6c3082;
    height: 70vh;
}
.btn-primary{
    background-color: #6c3082;
    border-color: orange;
    border-radius: 0;
    width: 250px;
}

.btn-primary:hover{
    background-color: #FAFAFA;
    color:#6c3082;
    border-color: orange;
    transition-duration: 0.6s
}

.newletters{
    width: 40vw;
    height: 30vh;
    border-top: 2px solid orange;
    border-left: 2px solid orange;
    border-bottom: 2px solid orange;
    border-right: 2px solid orange;
    margin-top: 260px;;
}
button.join-us{
    display: block;
}
.contact{
    margin-top: 50px;
    padding-top: 25px;
    width: 60vw;
    height: 32vh;
    background-color: #E50043;
}
.contact form{
    width: 20vw;
    padding: 20px;
    border-top: 1px solid orange;
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
    border-right: 1px solid orange;
}
form{
    background-color: #FAFAFA;
    height: 40vh;
}
.text-form{
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 900;
}
.contact-text{
    width: 20vw;
    padding-right: 20px;
    color:#FAFAFA;
}
.btn-secondary{
    background-color: #6c3082;
    border-color: orange;
    width: 100px;
}
.btn-secondary:hover{
    background-color: #FAFAFA;
    color:#6c3082;
    border-color: orange;
    transition-duration: 0.6s
} */
